@{
    ViewData["Title"] = "Admin page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Admin</h1>
    <div>
        <ul class="list-unstyled">
            <li class="mb-2">
                <a href="/Admin/Users" class="btn btn-primary">Users</a>
            </li>
        </ul>
    </div>
</div>
